@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0px 15px;
    }
        
    .section {
         padding-top: 120px;
        padding-bottom: 120px;
    }
/**
  |============================
  | Header site
  |============================
*/
    .logo {
        margin-right: 76px;
        }
    
    .address {
        margin-left: auto;
    }

    .address-list {
        display: flex;
        gap: 40px; 
    }

/**
  |============================
  | secstion HERO SITE
  |============================
*/
   .hero {
       padding-top: 188px;
       padding-bottom: 188px;
   }

   .hero-title {
       margin-bottom: 48px;

   }

/**
  |============================
  | Features section
  |============================
*/
    .features-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 100%;
        height: 112px;
        margin-bottom: 8px;
    
         background-color: var(--cloud-color);
        border-radius: 4px;
    }

    .features-title {
        font-size: 20px;
        font-weight: 500;
    }

    .feature-set {
        --items: 4;
         --indent: 24px;
    }

/**
  |============================
  | Img section
  |============================
*/
   .section-img {
       display: block;
       padding-bottom: 120px;
   }

   

   .img-box {
       --items: 3;
       --indent: 24px;
   }

   .img-card {
       border: 1px solid var(--cornflower-color);
   }

 /**
   |============================
   | Team section
   |============================
 */
    .team-box {
       --items: 4;
    }
 /**
   |============================
   | Customers section
   |============================
 */
    .customers-item {
       --items: 6;
    }

/**
  |============================
  | Footer site
  |============================
*/
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-flex {
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0;
    }
     
    .footer-text {
        margin-right: 120px;
    }


    .social-media {
        margin-right: 80px; 
    }

    .footer-form {
        
    }

    
        
}