.container {

    min-width: 320px;
    max-width: 428px;
    padding: 0px 16px;
    margin: 0 auto;

}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

/**
  |============================
  | Header site
  |============================
*/
.site-header {
    position: relative;

    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid var(--cornflower-color);
}



.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}

.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--iris-color);

    font-family: var(--secondary-fonts);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    text-transform: uppercase;
}
.logo-header {
    color: var(--navy-blue-color);
}

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.menu-button .icon-menu {
    stroke: var(--navy-blue-color);
}

.nav-flex,
.address {
    display: none;
}

/**
  |============================
  | secstion HERO SITE
  |============================
*/

.hero {
    display: block;

    margin: 0 auto;
    padding-top: 112px;
    padding-bottom: 112px;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/index/banner/banner-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--navy-blue-color);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/index/banner/banner-mobile@2x.jpg);
    }
}

.hero-title {
    display: block;
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 72px;

    color: var(--white-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;

    color: var(--white-color);
    background-color: var(--iris-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    transition: background-color var(--transition-duration) var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean-color);
}

/**
  |============================
  | Features section
  |============================
*/
.features-icon {
    display: none;
}

.features-title {
    margin-bottom: 8px;

    color: var(--navy-blue-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.feature-set {
    --items: 1;
    --indent: 72px;
}

/**
  |============================
  | Img section
  |============================
*/

 .section-img {
     display: none;
 }

 /**
   |============================
   | Team section
   |============================
 */

 .team {
    /* padding-left: 66px;
    padding-right: 66px; */

     background-color: var(--cloud-color);

 }

 .team-box {
    --items: 1;
    row-gap: 72px;

 }
 .team-card {
    margin: 0px 66px;

    background-color: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

 }

 .team-info {
     padding: 32px 16px;
     text-align: center;
 }

 .team-person {
     margin-bottom: 8px;

     color: var(--navy-blue-color);
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
 }

 .team-position {
     margin-bottom: 8px;
 }

 .social-item {
     display: flex;
     justify-content: center;
      /* gap: 24px; */
     gap: calc((100% - 160px) / 3);
 }

 .team-icon {
     fill: var(--cloud-color);
 }

 .team-iconbgr {
     display: flex;
     justify-content: center;
     align-items: center;

     width: 40px;
     height: 40px;

     background-color: var(--iris-color);
     border-radius: 50%;
     transition: background-color var(--transition-duration) var(--timing-function);
 }

 .team-iconbgr:hover,
 .team-iconbgr:focus {
     background-color: var(--ocean-color);
 }

 /**
   |============================
   | Customers section
   |============================
 */
.customers-item {
    --items: 2;
    --indent: 16px;
    row-gap: 72px;
}
.customers-border {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 88px;
    border: 1px solid var(--light-slate-color);
    border-radius: 4px;
    color: var(--light-slate-color);

    transition: border-color var(--transition-duration) var(--timing-function),
        color var(--transition-duration) var(--timing-function);
}

.customers-icon {
    fill: currentColor;
}

.customers-border:hover,
.customers-border:focus {
    color: var(--ocean-color);
    border-color: 1px solid var(--ocean-color);
}

/**
  |============================
  | Footer site
  |============================
*/

.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;
    background-color: var(--navy-blue-color);
}
.footer-logo {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 16px;

    color: var(--iris-color);

    font-family: var(--secondary-fonts);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-accent {
    color: var(--cloud-color);
}
.text-footer {
    width: 268px;
    margin: 0 auto;
    margin-bottom: 72px;
    text-align: left;

    color: var(--cloud-color);
}

.social-header {
    text-align: center;
    margin-bottom: 16px;

    font-weight: 500;
    color: var(--white-color);
}
.social-flex {
    display: flex;
    justify-content: center;
    gap: 16px;

    margin-bottom: 72px;
}
.footer-icon {
    fill: var(--cloud-color);
}

.icon-bgr {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    background-color: var(--iris-color);

    border-radius: 50%;

    transition: background-color var(--transition-duration) var(--timing-function);
}

.icon-bgr:hover,
.icon-bgr:focus {
    background-color: var(--green-color);
}
.footer-input {
    padding-left: 16px;

    width: 100%;
    height: 40px;
    margin-bottom: 16px;

    border-radius: 4px;
    border: 1px solid var(--white-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    background-color: transparent;
    color: var(--white-color);

    transition: border-color var(--transition-duration) var(--timing-function);
}

.footer-input:hover,
.footer-input:focus {
    border-color: var(--light-slate-color);
}

.footer-input::placeholder {
    color: var(--white-color);
}

.footer-button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 165px;

    padding: 8px 24px;
    height: 40px;

    border: none;
    border-radius: 4px;
    background-color: var(--iris-color);
    color: var(--white-color);


    font-family: var(--main-fonts);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

    transition: background-color var(--transition-duration) var(--timing-function);

    cursor: pointer;
}

.send-svg {
    margin-left: 16px;
    fill: var(--white-color);
}

.footer-button:hover,
.footer-button:focus {
    background-color: var(--ocean-color);
}

/**
  |============================
  | MODAL
  |============================
*/

.backdrop {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow-y: scroll;



    background-color: var(--navy-blue-modal);

    transition: opacity var(--transition-duration) var(--timing-function),
        visibility var(--transition-duration) var(--timing-function);

}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;

    padding: 72px 24px 24px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 408px;
    min-height: 584px;

    background: var(--dairy-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--transition-duration) var(--timing-function);
}
@media screen and (max-width: 427px) {
    .modal {
    min-width: 310px;
    }

}

.close-button {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;

    background-color: var(--cornflower-color);

    transition: background-color var(--transition-duration) var(--timing-function),
        border var(--transition-duration) var(--timing-function);
}

.close-button:hover,
.close-button:focus {
    background-color: var(--ocean-color);
    border: none;

    fill: var(--white-color);
}

.modal-svg {
    transition: fill var(--transition-duration) var(--timing-function);
}

.modal-header {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-align: center;
    color: var(--navy-blue-color);
}

.form {
    /* width: 360px; */
    margin-right: auto;
    margin-left: auto;
}

.form-group {
    display: flex;
    flex-direction: column;

    margin-bottom: 8px;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 4px;

    color: var(--light-slate-color);
}

.form-input {
    width: 100%;
    height: 40px;

    margin: 0;
    padding: 0;
    padding-left: 38px;
    background-color: transparent;

    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;

    margin-bottom: 8px;

    cursor: pointer;
    outline: transparent;

    transition: border-color var(--transition-duration) var(--timing-function);
}

.form-input:hover,
.form-input:focus {
    border-color: var(--iris-color);
}

.form-input:focus~.form-icon {
    color: var(--iris-color);
}

.icon-position {
    position: relative;
    height: 40px;
    color: var(--navy-blue-color);
}

.icon-position:hover {
    color: var(--iris-color);
}

.form-icon {
    position: absolute;

    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    fill: currentColor;
    pointer-events: none;

    transition: fill var(--transition-duration) var(--timing-function);
}

.coments-group {
    margin-bottom: 16px;
}

.coments {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navy-blue-modal);

    background-color: transparent;
    padding: 8px 16px;

    height: 120px;

    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    transition: border-color var(--transition-duration) var(--timing-function);

    cursor: pointer;
    outline: transparent;
}

.coments:hover,
.coments:focus {
    border-color: var(--iris-color);
}

.form-checkbox {
    display: flex;
    align-items: center;

    margin-bottom: 24px;
}

.checkbox-svg {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;

    margin-right: 8px;
    cursor: pointer;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 2px;

    fill: transparent;

    transition: background-color var(--transition-duration) var(--timing-function),
        border var(--transition-duration) var(--timing-function),
        fill var(--transition-duration) var(--timing-function);
}

.checkbox:checked+.label-checkbox>.checkbox-svg {
    fill: var(--cloud-color);
    background-color: var(--ocean-color);
    border: none;
}

.privacy-link {
    color: var(--iris-color);
    user-select: none;
}

.form-button {
    padding: 16px 64px;

    margin: 0 auto;
    display: block;

    min-width: 169px;
    height: 56px;
    margin-top: 24px;

    font-family: var(--main-fonts);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

    background-color: var(--iris-color);
    color: var(--white-color);
    border-radius: 4px;
    border: none;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    transition: background-color var(--transition-duration) var(--timing-function);

    cursor: pointer;
}

.form-button:hover,
.form-button:focus {
    background-color: var(--ocean-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/**
  |============================
  | Portfolio
  |============================
*/

.portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
}

.btn-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
    row-gap: 16px;

    margin-bottom: 48px;
}

.btn {
    padding: 12px 24px;

    color: var(--iris-color);
    background-color: var(--cloud-color);

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
    border: 1px solid var(--cornflower-color);
    border-radius: 4px;

    transition: color var(--transition-duration) var(--timing-function),
        background-color var(--transition-duration) var(--timing-function),
        border-color var(--transition-duration) var(--timing-function),
        box-shadow var(--transition-duration) var(--timing-function);

}

.btn:hover,
.btn:focus {
    color: var(--white-color);
    background-color: var(--ocean-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.project {
    --items: 1;
    row-gap: 48px;
}

.project-card {

}

.project-link {
    display: block;

    background-color: var(--white-color);
    transition: box-shadow var(--transition-duration) var(--timing-function);
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-link:hover .content,
.project-link:focus .content {
    opacity: 1;
    transform: translateY(0);
}

.overlay {
    position: relative;
    overflow: hidden;
}

.content {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;

    background-color: var(--iris-color);
    color: var(--cloud-color);
    opacity: 0;

    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--timing-function);
}

.border {
    padding: 32px 16px;

    border-left: 1px solid var(--cornflower-color);
    border-right: 1px solid var(--cornflower-color);
    border-bottom: 1px solid var(--cornflower-color);
}

.project-title {
    margin-bottom: 8px;

    color: var(--navy-blue-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.project-text {
    color: var(--slate-color);
}