
/* MODAL */
.backdrop {
    position: fixed;

    top: 0;
    left: 0;    

    width: 100%;
    height: 100%;
    overflow-y: scroll ;

    

    background-color: var(--navy-blue-modal);

    transition: opacity var(--transition-duration) var(--timing-function),
    visibility var(--transition-duration) var(--timing-function);
    
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0; 
    pointer-events: none;
}
.modal {
    position: absolute;

    padding: 72px 24px 24px 24px;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );

    min-width: 408px;
    min-height: 584px;

    background: var(--dairy-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--transition-duration) var(--timing-function);
}
.close-button {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;

    background-color: var(--cornflower-color);

    transition: background-color var(--transition-duration) var(--timing-function),         
    border var(--transition-duration) var(--timing-function);   
}
.close-button:hover,
.close-button:focus {
    background-color: var(--ocean-color);
    border: none;

    fill:  var(--white-color);
}
.modal-svg {
    transition: fill var(--transition-duration) var(--timing-function);
}
.modal-header {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-align: center;
    color: var(--navy-blue-color);
}
.form {
    width: 360px;
    margin-right: auto;
    margin-left: auto;
}
.form-group {
    display: flex;
    flex-direction: column;

    margin-bottom: 8px;
}
.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 4px;

    color: var(--light-slate-color);
}
.form-input {
    width: 100%;
    height: 40px;

    margin: 0;
    padding: 0;
    padding-left: 38px;
    background-color: transparent;

    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;

    margin-bottom: 8px;
    
    cursor: pointer;
    outline: transparent;

    transition: border-color var(--transition-duration) var(--timing-function);
}
.form-input:hover,
.form-input:focus {
    border-color: var(--iris-color); 
}
.form-input:focus ~ .form-icon {
    color: var(--iris-color);
}
.icon-position {
   position: relative;
   height: 40px;
   color: var(--navy-blue-color);
}
.icon-position:hover {
    color: var(--iris-color);
}
.form-icon {
   position: absolute;

   left: 16px;
   top: 50%; 
   transform: translateY(-50%);
   cursor: pointer;
  
   fill: currentColor;
   pointer-events: none;

   transition: fill var(--transition-duration) var(--timing-function);
}
.coments-group {
    margin-bottom: 16px;
}
.coments {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navy-blue-modal);
    
    background-color: transparent;
    padding: 8px 16px;

    height: 120px;

    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    transition: border-color var(--transition-duration) var(--timing-function);

    cursor: pointer;
    outline: transparent;
}
.coments:hover,
.coments:focus {
    border-color: var(--iris-color);
}
.form-checkbox {
    display: flex;
    align-items: center;

    margin-bottom: 24px;
}
.checkbox-svg {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 16px;  
    height: 16px;

    margin-right: 8px;
    cursor: pointer;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 2px;

    fill: transparent;

    transition: background-color var(--transition-duration) var(--timing-function), 
    border var(--transition-duration) var(--timing-function), 
    fill var(--transition-duration) var(--timing-function);
}
.checkbox:checked + .label-checkbox > .checkbox-svg {
    fill: var(--cloud-color);
    background-color: var(--ocean-color);
    border: none; 
}
.privacy-link {
    color: var(--iris-color);
    user-select: none;
}
.form-button {
    padding: 16px 64px;

    margin:0 auto;
    display: block;

    min-width: 169px;
    height: 56px;
    margin-top: 24px;
   
    font-family: var(--main-fonts);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

    background-color: var(--iris-color);
    color: var(--white-color);
    border-radius: 4px;
    border: none;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    transition: background-color var(--transition-duration) var(--timing-function);

    cursor: pointer;
}
.form-button:hover,
.form-button:focus {
    background-color: var(--ocean-color);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* portfolio */

.portfolio {
    padding-top: 48px;
    /* padding-bottom: 120px; */
}
.btn-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 16px;
    

    /* justify-content: center; */

    margin-bottom: 48px;    
}
.btn {
    padding: 12px 24px;
    
    color: var(--iris-color);
    background-color: var(--cloud-color);

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
    border: 1px solid var(--cornflower-color);
    
    transition: color var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function),
    border-color var(--transition-duration) var(--timing-function),
    box-shadow var(--transition-duration) var(--timing-function);
   
}
.btn:hover,
.btn:focus{
    color: var(--white-color);
    background-color: var(--ocean-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
/* .btn-list .item {
    margin-right: 24px;
}
.btn-list .item:last-child {
    margin-right: 0px;
} */
/* .project {
    --items: 3;
    --indent: 24px;
    row-gap: 48px;
} */
.project li {
    margin-bottom: 48px;
}
.project-link {
    display: block;

    background-color: var(--white-color);  
    transition: box-shadow var(--transition-duration) var(--timing-function);  
}
.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);    
}
.project-link:hover .content,
.project-link:focus .content {
    opacity: 1;
    transform: translateY(0);
} 
.overlay {
    position: relative;
    overflow: hidden;
}
.content {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;

    background-color: var(--iris-color);
    color: var(--cloud-color);
    opacity: 0;

    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--timing-function);  
}    
.border {
    padding: 32px 16px;

    border-left: 1px solid var(--cornflower-color);
    border-right: 1px solid var(--cornflower-color);
    border-bottom: 1px solid var(--cornflower-color);
}
.project-title {
    margin-bottom: 8px;

    color: var(--navy-blue-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.project-text {
    color: var(--slate-color);  
}